body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

header,main{
  padding: 0 5%;
}


/* -------------------------------    -----------------------------*/
/* -------------------------------  INCIO DE PAGINA  -----------------------------*/
 
/* -------------------------------  LINEA DE ARRIBA TOP GREEN  -----------------------------*/


  .inicio-de-pagina{
    background-color: transparent;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:#0da487;
    margin: 0 -6%;
    padding: 0 2%;
  }


  .inicio-de-pagina .idioma{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  .inicio-de-pagina .idioma img{
      width: 20px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
  }

  .inicio-de-pagina .moneda{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
  }

  .inicio-de-pagina .moneda::before {
    content: '|';
    position: absolute;
    left: -10px;
    color: #ccc;
    top: 45%;
    transform: translateY(-50%);
    vertical-align: middle;
  }
/* -------------------------------  PRIMERA BARRA  -----------------------------*/

.primera-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}


.primera-barra .icono-tienda img {
  height: 40px;
}

.ubicacion {
  display: inline-block;
  border: 1px solid rgb(172, 172, 172);
  padding: 10px;
  border-radius: 10%;
  align-items: center;
}


.barra-busqueda {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}


.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  width: 1000px;
}

.form-control {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

.btn {
  background-color: #ca8a00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b1b1b1;
}


.primera-barra .botones {
  display: flex;
  align-items: center;
}

.primera-barra .botones p {
  margin: 0 10px;
  font-size: 14px;
}

.botones svg:not(:last-child) {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
}


/* -------------------------------  SEGUNDA BARRA  -----------------------------*/

.segunda-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.segunda-barra button{
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.segunda-barra .all-categories {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0da487;
  color: white;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.segunda-barra .all-categories p {
  margin: 0 10px;
  font-size: 14px;
  line-height: 24px;
}

.segunda-barra .desplegables-falsos {
  display: flex;
  justify-content: center;
}

.segunda-barra .desplegables-falsos p {
  margin: 0 10px;
  font-size: 14px;
}

.segunda-barra .desplegables-falsos img {
 width: 10px;
align-items: center;
}

.segunda-barra .deal-today {
  display: flex;
  align-items: center;
  background-color: #dcfcf2;
  padding: 5px 10px;
  font-size: 14px;
  color: #0da487;
  font-weight: bold;
}

.segunda-barra .deal-today p{
  margin: 0 10px;
  font-size: 14px;
  line-height: 24px;
}

/* -------------------------------  MAIN SECCION CATEGORIAS  -----------------------------*/
.categorias {
  float: left;
  width: auto;
}


.categorias-json img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.categorias-json {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categorias-json li {
  margin-bottom: 10px;
  cursor: pointer;
}


/* -------------------------------  MAIN SECCION CARDS  -----------------------------*/

.productos .hojita{
  width: 30px;
}

.productos .linea{
  width: 40px;
}

.productos {
  float: right;
  width: calc(100% - 200px); /* 200px es el ancho aproximado de la lista de categorías */
}


.product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
.product-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  position: relative; /* Agregamos posición relativa para que los botones internos queden dentro del producto */
}

  
.product-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  }

  .card { /* encierra todas las cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ccc; /* quitar al finalizar */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center; /* nueva propiedad */
  }
  
  .card img {
    max-height: 150px;
    width: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding:10%;
    
  }

  .buttons button {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 1.5em;
    cursor: pointer;
  }
  
 /* -------------------------------  -----------------------------*/
 .btn-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}


  
  
/* -------------------------------  SECCION FINAL  -----------------------------*/


footer {
  background-color: #f2f2f2;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
}

.footer-content img {
  width: 100px; /* tamaño del logo en pantallas grandes */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h4 {
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
}
/* -------------------------------  TEST  -----------------------------*/

.product-card .image-container {
  position: relative;
}

.product-card .image-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  z-index: 1;
}

.product-card:hover .image-button {
  display: block;
  cursor: pointer;
  padding: 8px 8px 7px 7px;
}



/* -------------------------------  MEDIA  -----------------------------*/

@media (max-width: 768px) {
  .footer-content img {
    width: 50px; /* tamaño del logo en dispositivos móviles */
  }
  .barra-busqueda{
    display: none;
  }
}

/* -------------------------------  CARRITO PAGE  -----------------------------*/
.promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.izquierda-derecha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.izquierda {
  width: 60%;
}

.derecha {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.derecha img {
  width: 100%;
  margin-bottom: 20px;
}

.parte-abajo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.parte-abajo img {
  width: 23%;
  margin-bottom: 20px;
}




